language: rust
rust:
  - stable
  - beta
  - nightly
addons:
  apt:
    packages:
    - libsdl2-dev
    - libsdl2-image-dev
    - libsdl2-ttf-dev
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true
script:
  - cargo build --verbose --all
  # Our tests fail intermitantly, so we retry a few times.
  - for i in {1..5}; do cargo test --verbose --all 2> test.log && break || sleep 1; done
  # Output last attempt
  - cat test.log
after_failure:
  # Only want to output one of the failures
  - cat test.log
